body {
    font-family: 'Quicksand', sans-serif;
    font-size: large;
}

form {
    padding-top: 50px;
}

.btn {
    width:100%;
}

.main-body {
    padding-top: 60px;
}

.countryCode {
    font-size: small;
}

.icon {
    font-size: xx-large;
}

.glyphicon-pencil {
    padding-right: 10px;
    color: darkgreen;
}

.glyphicon-pencil:hover {
    color: seagreen;
}

.glyphicon-remove-sign {
    color: darkred;
}

.glyphicon-remove-sign:hover {
    color: orangered;
}

.glyphicon-ok-circle {
    color: #4cae4c;
}

.glyphicon-ok {
    color: darkgreen;
}

.glyphicon-ok:hover {
    color: seagreen;
}

.glyphicon-remove-circle {
    color: darkgrey;
}

#tblRegistrants {
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2b200;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: larger;
}

tr:nth-child(even) {
    background-color: lightgoldenrodyellow;
}

tr:nth-child(even):hover {
    background-color: gold;
}

tr:hover {
    background-color: gold;
}

.registrantId {
    vertical-align: middle;
}

.btnContainer input {
    width: 170px;
    background-color: darkgreen;
    color: white;
    font-size: 16px;
}

.input-group-addon {
    min-width: 205px;
    text-align: left;
}

.btnContainer {
    margin: 10px;
}

.alert {
    display: none;
    position: absolute;
    z-index: 10000;
    width: 100%;
}

.btn {
    font-size: larger;
}

.active {
    font-weight: 500;
    background-color: #563d7c;
}


#errorAlert {
    background-color: darkred;
}

#errorMessage {
    font-size: larger;
    color: #fff;
    font-weight: bolder;

}

.chart {
    width: 95%;
    height:85%;
}

#logo {
    height: 40px;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    bottom: .5em;
}